# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Saved plans
*.tfplan
tfplan

# Crash logs
crash.log
crash.*.log

# Environment-specific variable files
*.tfvars
*.tfvars.json

# CLI configuration
.terraformrc
terraform.rc

.terraform.lock.hcl
.gitignore